.choice {
    padding: 100px 0;

    &__menu {
        > p {
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #8476AA;
            margin-top: 13px;
        }
    }

    &__title {
        font-size: 42px;
        line-height: 50px;
        text-align: center;
        color: #99EFD0;

        &__img {
          width: 24px;
          height: 24px;
        } 
    }

    &__grid {
        display: grid;
        gap: 35px 50px;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 50px;
    }
    
    

    .item {
        display: flex;
        gap: 28px;
        align-items: flex-start;
        


        &__text {
            padding-top: 10px;
            font-size: 14px;
            line-height: 22px;
            color: #8476AA;

        }

        &__title {
            font-size: 18px;
            line-height: 22px;
            color: #99EFD0;
            
        }
    }


}
